@use 'variables' as v; 

/** Media Queries **/
@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}
@mixin desktopXL {
    @media (min-width: v.$desktopxl) {
        @content;
    }
}


@mixin boton($bgColor, $colorTexto) {
    background-color: $bgColor;

    padding: 1rem 4rem;
    color: $colorTexto;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 400;
    display: inline-block;
    font-weight: 700;
    border: none;
    transition-property: background-color;
    transition-duration: .3s;
    text-align: center;

    @include tablet {
        width: auto;
    }
    &:hover {
        background-color: v.$blanco;
        border: 2px solid v.$rojo;
    }
}

@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin heading($salto: false) {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    span{
        font-weight: 700;
        @if($salto){
            display:block;
        }
    }
    
    &::after{
        content: '';
        display: block;
        height: 1rem;
        width: 20rem;
        margin-top: 1rem;
        background-image: linear-gradient(to right, v.$rojo 0%, v.$rojo 50%, lighten(v.$negro, 20%) 50%, lighten(v.$negro, 20%) 100%);
    }

}

@mixin logotalonarioscl{
    display: flex;
    
    position:relative;
    &__texto{
        margin: -1.5rem 0 0 .7rem;
        font-size: 4rem;
    }

    &__recuadros{
        display:flex;
    }

    &__recuadro {
        width: 40px;
        height: 40px;
        border-radius: 6px;
        &:nth-child(1){
            border:4px solid v.$rojo;
        }
        &:nth-child(2){
            margin-top: 1rem;
            margin-left: -3rem;
            border: 4px solid v.$negro;
        }
    }
}