@use 'base/mixins' as m;
@use 'base/variables' as v;

.header-digital {
    background-color: v.$negro;
    .logo__recuadro:nth-child(2) {
        border: 3px solid v.$blanco;
    }

    .logo__texto {
        color: v.$blanco;
    }

    &__barra {
        padding: 3rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include m.tablet {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

.navegacion-digital {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include m.tablet {
        flex-direction: row;
        margin-top: 0;
    }

    &__link {
        -webkit-text-stroke: 0.6px v.$negro;

        color: v.$blanco;
        font-size: 2rem;
        font-weight: 700;
        margin: 0 1.5rem;
        margin-bottom: 0.5rem;
        text-decoration: none;
    }
}