@use 'base/mixins' as m;
@use 'base/variables' as v;

.nosotros{
    
    background-color: v.$blanco;
    margin-top: 2rem;
    padding-top: 2rem;

    &__heading{
        @include m.heading();
        font-size: 3rem;        
    }

    &__caracteristicas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include m.tablet {
            flex-direction: row;
        }
    }

    &__caracteristica{
        max-width: 80rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        background-color: v.$grisClaro;
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
        margin-bottom: 3rem;
        
        

    }

    &__caracteristica-heading{
        font-size: 2.5rem;
    }

    &__texto{
        text-align: center;
    }
}