@use 'base/mixins' as m;
@use 'base/variables' as v;

.productos {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5rem;

    @include m.tablet {
        margin-top: 3rem;
    }

    &__heading{
        @include m.heading;
        font-size: 3rem;
    }

    &__grid{
        @include m.grid(1,2rem);
        @include m.tablet {
            @include m.grid(3, 2rem);
        }
    }
}

.producto {
    background-color: v.$blanco;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0 0 0;
    border: 2px solid lighten(v.$primario, 20%);
    border-radius: 10px;
    padding: 4rem 4rem;
    
    
    &__nombre{
        margin-top: 1.5rem;
        text-transform: uppercase;
        margin-bottom: 0;

    }
    &__enlace  {
        @include m.boton(v.$primario, v.$blanco);
        
    }

    &__imagen {
        aspect-ratio: 8  / 10;
        border: 1px solid v.$primario;
        border-radius: 3px;
        width: 20rem;
        
    }
}

